<%- include("header") -%>

	<div class="box" id="heading">
		<h1><%= listTitle %></h1>
	</div>

	
		
			<!--<ul> <li>Buy Food</li>
			<li>Cook Food</li>
			<li>Eat Food</li>
			</ul> -->
			
			<!-- <li><%= newListItems %></li> -->
		
	<div class="box">	
			<% for(var i=0;i<newListItems.length;i++) {%>
			<div class="item">
			<input type="checkbox" >
			<p> <%=newListItems[i] %></p>
			</div>
			<%}%>
		
		<form class="item" action="/" method="post">
			<input type="text" name="newItem" placeholder="New Item" autocomplete="offa">
			<button name="button" value="<%= listTitle %>" type="submit">+</button>
		</form>
		
	</div>	

		
<%- include("footer") -%>
